*{
    font-family: 'poppins';
}
body{
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
}
.box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.box input{
    padding: 15px;
    width: 250px;
    border: none;
    background-color: #d2dae2;
    border-radius: 4px;
    font-size: 16px;
   

}
.box input:focus{
    outline: 2px solid #1e272e ;
}

.box button{
    padding: 10px;
    width: 150px;
    font-size: 14px;
    border: none;
    background-color: #0652DD;
    color: #fff;
    font-weight:500 ;
    border-radius: 2px;

}