*{
    font-family: 'poppins';
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
input{
    padding: 10px;
    width: 250px;
    border: none;
    background-color: #ddd;
    outline: 2px solid grey;
    border-radius: 3px;
}

button{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 4px;
}
#si{
    background-color: grey;
 padding: 10px;
 width: 200px;
 display: none;
 text-align: center;
 color: #fff;
}