*{
    font-family: 'poppins';
}
body{
    width: 100%;
    height: 100vh;
}
.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.box input{
    padding: 13px;
    width: 250px;
    border: none;
    border-radius: 3px;
    background-color: #808e9b;
    color: #fff;
 font-size: 16px;
}

button{
    padding: 8px;
    width: 150px;
    border: none;
    border-radius: 3px;
    background-color:#0652DD ;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.res{
    background-color: #2f3542;
    
    padding: 10px;
    border-radius: 5px;
   
}