*{
    font-family: 'poppins';
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
#answer{
    background-color: #222;
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: none;
}
.box{
    padding: 10px;
}
.box input{
    padding: 10px;
    width: 200px;
   transition: 0.5s;
   color: #fff;
   font-weight: 600;
   
}
.box input:focus{
    outline: 2px solid #FC427B ;
      border: none;
      background-color: #f8a5c2;
      

}
button{
    padding: 7px;
    width: 120px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    background-color:#0652DD ;
    border-radius: 3px;
}