*{
    font-family: 'poppins';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
button{
    padding: 10px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: #0652DD;
    color: #fff;
}

h2{
    color: #0652DD;
}
