*{
    font-family: 'poppins';
}

body{
    width: 100%;
    height: 100vh;
      display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
 
  
}

.box button{
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    color: #fff;
    background-color:#2f3640 ;
    font-weight: 600;
    line-height: 10px;
    font-size: 16px;
}

input{
    padding: 13px;
    width: 250px;
    border: none;
    border-radius: 4px;
    background-color: #ddd;
    outline: 2px solid #2f3640;
}