*{
    font-family: 'poppins';
}
body{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
input{
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 250px;
    background-color: #7f8fa6;
    color: #fff;
}
button{
    padding: 10px;
    width: 150px;
    border: none;
    background-color: #2f3640;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
}