*{
    font-family: 'poppins';

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap: 20px;


}
input{
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:#a4b0be;
    border:  2px solid #000;
}

button{
    width: 150px;
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 3px;
    background-color: #2f3542;
    font-weight: 600;
    font-size: 16px;
}

#result{
    padding: 10px;
    background-color: #2f3542;
    width: 200px;
    display: none;
    text-align: center;
    color: #fff;
}